/**
 * ThreeCol plugin styles
 */

#mailview-tc-mid
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  bottom: 0;
}

#mailview-tc-right
{
  position: absolute;
  display: none;
  top: 0;
  left: 712px;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
}

#messagelistfooter
{
  height: 21px;
}

#mailpreviewframe
{
/*  bottom: 0;*/
}

#mailpreviewtoggle
{
	background: url(buttons.png) -3px 0 no-repeat;
}

#mailpreviewtoggle.enabled
{
	background-position: -28px 0;
}
#messagecontframe
{
	border-radius: 4px 4px 4px 4px;
}

#messagelist {
  margin-top: 25px;
  width: 100%;
  border-collapse: collapse; 
}

#messagelist thead {
  display: none;
}

#messagelist tr {
  border-bottom: 1px solid #DDD;
}

#messagelist td { 
  border-bottom: none;
  min-width: 300px;
  width: 95%;
  height: 20px;
  border:none;
}

#messagelist td.labels,
#messagelist td.threads,
#messagelist td.size,
#messagelist td.date,
#messagelist td.status,
#messagelist td.flag,
#messagelist td.attachment {
  display: inline;
}

#messagelist td.from,
#messagelist td.subject {
  display: inline-block;
  padding-top: 2px !important;
  padding-bottom: 0 !important;
}

#messagelist tr {
  margin-top: 10px;
}

#messagelist tr.selected {
  background: #FFC none repeat scroll 0px 0px !important;
  color: #AAA !important;
}

#messagelist td.labels,
#messagelist td.size,
#messagelist td.date {
  right: 0px;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  font-size: 10px;
  color: #666D74;
  height: 20px;
}

table.fixedcopy thead {
  background: #F6F6F6 none repeat scroll 0%;
  border-bottom: 1px solid #C6C6C6;
}

table.fixedcopy th {
  display: none;
}

table.fixedcopy #rcmthreads {
  display: block;
  border-bottom: none;
}
